
<div class=" content ">
  <div class=" row">
    <div class=" col-12">
      <div class=" card">
        <div class=" card-body">
          <h2 class="display-1">Courses Dashboard</h2>
        </div>
        <div class="card-footer">
          <button class=" btn btn-icon btn-round" 
            title="Add New Course" 
            (click)="add()" 
            href="javascript:void(0)">
              <i class=" tim-icons icon-simple-add"></i>
          </button>
          <button class="btn btn-icon btn-round" 
            title="Read Course" 
            (click)="add()" 
            href="javascript:void(0)">
              <i class=" fa fa-eye"></i>
          </button>
        </div>
      </div>
    </div>
    
  </div>
</div>
 