.signUpForm {
    overflow: hidden;
    margin-top: 1rem;
    border-bottom: 6px solid #357ebd;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    max-width: 400px;
    min-width: 320px;
}

.loginWith {
    overflow: hidden;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-bottom: 6px solid #357ebd;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    max-width: 400px;
    min-width: 320px;
}

.loginWith h6 {
    color: #999;
}

.loginWith a,
.loginWith i {
    width: 31.5%;
    cursor: pointer;
}

.loginWith i {
    text-align: center;
    font-size: 22px;
    line-height: 36px;
    border-right: 1px solid #ccc;
    margin: 0.8rem 0 1rem 0;
}

.loginWith .noBorder {
    border-right: none;
}

.head {
    position: relative;
}

.head img {
    width: 100%;
}

.head a {
    position: absolute;
    top: 6px;
    left: 8px;
    font-size: 11px;
    color: #fff;
    opacity: 0.33;
}

.head a:hover {
    opacity: 0.56;
}

.head a span {
    font-size: 12px;
    font-weight: bold;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 12px;
}

.close .circle {
    background-color: #ccc;
    padding: 1rem;
}

form {
    padding: 2.2rem 2rem;
}

form .input-group {
    margin-bottom: 1.6rem;
}

form .input-group .input-group-addon {
    border-radius: 0;
}

form .input-group .fa-lock {
    font-size: 18px;
    width: 14px;
}

form #exEmail,
form #exPassword {
    border-radius: 0;
    height: 36px;
}

form #exEmail:focus,
form #exPassword:focus {
    box-shadow: none;
}

form .btn {
    margin-bottom: 1.4rem;
    border-radius: 0;
}

form a {
    font-size: 11px;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}