<div class=" card">
  <div class="card-header text-center">
    <h4>{{vm.id ? 'Edit' : 'Add'}} Section</h4>
  </div>
  <div class=" card-body">
    <form #sorbsoftSectionForm>
      <div class="justify-content-md-center row">
        <div class="col-md-8">
          <div class=" form-group">
            <label for="sectionName">Name</label>
            <input
              class=" form-control"
              name="sectionName"
              id="sectionName"
              placeholder="Enter the section name"
              #sectionName="ngModel"
              type="text"
              autocomplete="off"
              [(ngModel)]="vm.name"
              maxlength="50"
            />
          </div>
        </div>
      </div>
        <div class="justify-content-md-center row">
          <div class="col-md-8">
            <div class=" form-group">
              <label for="description">Description</label>
                <textarea
                  class=" form-control"
                  cols="80"
                  id="description"
                  name="description"
                  rows="4"
                  placeholder="Enter the section description"
                  autocomplete="off"
                  #description="ngModel"
                  maxlength="250"
                  [(ngModel)]="vm.description">
                </textarea>  
            </div>
          </div>
        </div>

        <div class=" card-footer">
          <div class=" button-container">
            <button class=" btn btn-icon btn-round" type="button" title="Go back" (click)="back(true)" href="javascript:void(0)">
              <i class=" tim-icons icon-minimal-left"></i>
            </button>
            <span class="float-right">
              <button class=" btn btn-fill btn-danger" type="reset" (click)="cancel()">Cancel</button>
              <button class=" btn btn-fill btn-success" type="submit" (click)="save(sorbsoftSectionForm)">Save</button>
            </span>
          </div>
        </div>
    </form>
  </div>
</div>
