
<div class="content ">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h2 class="display-1">Category Admin Dashboard</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h2 class="display-1">Category</h2>
        </div>
        <div class="card-footer">
          <button class=" btn btn-icon btn-round" 
            title="Add new Category" 
            (click)="addCategory()" 
            href="javascript:void(0)">
            <i class=" tim-icons icon-simple-add"></i>
          </button>
          <!-- <button class="btn btn-icon btn-round" 
            title="Read Category" 
            (click)="readCategory()" 
            href="javascript:void(0)">
              <i class=" fa fa-eye"></i>
          </button> -->
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h2 class="display-1">Sub-Category</h2>
        </div>
        <div class="card-footer">
          <button class=" btn btn-icon btn-round" 
            title="Add new Sub-Category" 
            (click)="addSubCategory()" 
            href="javascript:void(0)">
            <i class=" tim-icons icon-simple-add"></i>
          </button>
          <button class="btn btn-icon btn-round" 
            title="Read User" 
            (click)="readSubCategory()" 
            href="javascript:void(0)">
              <i class="fa fa-eye"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
 