
<div class="content ">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h2 class="display-1">Section Admin Dashboard</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h2 class="display-1">Section</h2>
        </div>
        <div class="card-footer">
          <button class=" btn btn-icon btn-round" 
            title="Add new Section" 
            (click)="addSection()" 
            href="javascript:void(0)">
            <i class=" tim-icons icon-simple-add"></i>
          </button>
          <!-- <button class="btn btn-icon btn-round" 
            title="Read Section" 
            (click)="readSection()" 
            href="javascript:void(0)">
              <i class=" fa fa-eye"></i>
          </button> -->
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h2 class="display-1">Sub-Section</h2>
        </div>
        <div class="card-footer">
          <button class=" btn btn-icon btn-round" 
            title="Add new Sub-Section" 
            (click)="addSubSection()" 
            href="javascript:void(0)">
            <i class=" tim-icons icon-simple-add"></i>
          </button>
          <button class="btn btn-icon btn-round" 
            title="Read Sub-Section" 
            (click)="readSubSection()" 
            href="javascript:void(0)">
              <i class="fa fa-eye"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
 