<!DOCTYPE HTML>
<html ng-app="cabAcademie" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

    <head th:replace="fragments/header :: header">
    <!-- header goes here -->
    <body ng-cloak class="ng-cloak">
        <div id="page">
            <!--nav  bar goes here-->
            <div th:replace="fragments/navigation :: navigation"></div>
            <!-- aside goes here  -->
            <div layout:fragment="content"></div>
            <!-- footer goes here -->

            <div th:replace="fragments/footer :: footer"></div>
        </div>
        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
        </div>
        <!--scripts-->

        <div th:replace="fragments/scripts :: scripts"></div>
	</body>
</html>

